<div class="question">{{ question() }}</div>


<div class="answer">{{ answer() }}</div>


<div class="counter">{{ incorrectGuesses() }}</div>

<ng-template #win>
  <app-modal>
    <h2>Congratulations!</h2>
    <div>The answer was: {{ answer() }}</div>
    <button (click)="startNewQuiz()">New Game!</button>
  </app-modal>
</ng-template>

<ng-template #lose>
  <app-modal>
    <h2>You Lose!</h2>
    <div>The answer was: {{ answer() }}</div>
    <button (click)="startNewQuiz()">New Game!</button>
  </app-modal>
</ng-template>

<app-keyboard (keyEmitter)="pressKey($event)" [allowEmitting]="isInProgress()" />
